---

version: "3"

services:
  php:
    build:
      context: .
      dockerfile: ./compose/Dockerfile.php
      args:
        UID: ${USER}
        PHP_VERSION: ${PHP_VERSION}
    links:
      - mails
    environment:
      MAILS_TOKEN: password
      MAILS_PORT: 1025
      MAILS_DOMAIN: example.com
      MAILS_USER: test

  nginx:
    image: bearstech/nginx:1.14
    volumes:
        - ./compose/nginx.conf:/etc/nginx/sites-enabled/default
    links:
      - php
    ports:
      - 8000

  client:
    image: bearstech/debian:stretch
    volumes:
      - ./bin/goss:/usr/local/bin/goss
      - ./compose:/goss
    working_dir: /goss
    links:
      - nginx
    command: >
      goss -g http_test.yaml validate --max-concurrent 4 --format documentation

  telegraf:
    image: telegraf
    volumes:
      - ./telegraf_fpm.conf:/etc/telegraf/telegraf.d/fpm.conf
      - ./bin/goss:/usr/local/bin/goss
      - .:/goss
    links:
      - php
    command: >
      telegraf --config /etc/telegraf/telegraf.d/fpm.conf --test

  mails:
    image: mailhog/mailhog
    ports:
      - 8025
